<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <table>
            <tr>
                <td class="topbar"><a href= "{{ url_for('home') }}">Home</a></td>
                <td class="topbar"><a href= "{{ url_for('about') }}">About</a></td>
                <td class="topbar"><a href= "{{ url_for('rp') }}">Rank Point Calculator</a></td>
            </tr>
        </table>
        <h1>My Home Page</h1>
        <p>This is my home page.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quia quae, quis ut laudantium, voluptates eligendi reiciendis veritatis, exercitationem dolores vitae cumque architecto? Fugiat illum consectetur enim magnam quod ipsam.</p>
    </body>
</html>