<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="/static/css/display.css">
</head>
<body>
    <p>
        <table>
            <tr>
                <td class="topbar"><a href= "{{ url_for('home') }}">Home</a></td>
                <td class="topbar"><a href= "{{ url_for('about') }}">About</a></td>
                <td class="topbar"><a href= "{{ url_for('rp') }}">Rank Point Calculator</a></td>
            </tr>
        </table>
    </p>
    <h1>RP Calculator</h1>
    <form action="{{ url_for('calculate') }}", method="POST">
        <table>
            <tr>
                <th class="subjects">Subject</th>
                <th class="grades">Grades</th> 
            </tr>
            {% for subject in chosen %}
            <tr>
                <td class="subjects">{{subject}}</td>
                <td class="grades">
                    <select name="{{subject}}">
                        {% for grade in grades%}
                        <option value="{{grade}}" selected>{{grade}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p><input type="submit" value="Calculate!"></p>
    </form>
</body>
</html>