<!DOCTYPE html>
<html>
<head>
    <title>Study Spaces</title>
</head>
<body>
    <h1>Study Spaces</h1>
    <form action = " url_for{{'search'}} " method="POST">
        <h3>Select Ammenities Wanted:</h3>
        <p>
            <input type="checkbox" id="aircon" name="aircon" value="Aircon">
            <label for="aircon"> Aircon </label><br>
            <input type="checkbox" id="computer" name="computer" value="Computer">
            <label for="computer"> Computer </label><br>
            <input type="checkbox" id="charging" name="charging" value="Charging Port">
            <label for="charging"> Charging Port </label><br>
        </p>
        <p>
            <input type="submit" value="Search"> 
        </p>
    </form>
</body>
</html>