h1{
    text-align: center;
}

.topbar{
    text-align: center;
    width: 450px;
    border-style : solid;
    border-width: 1px;
    border-color: black;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

.ranks{
    text-align: right;
}

td{
    width: 600px;
}

.grade{
    text-align: center;
}